@import "tailwindcss";

:root {
  /* Am actualizat fundalul de light-mode 
    să fie crem (#fdfcfa), așa cum am stabilit
    în layout.tsx, pentru consistență.
  */
  --background: #fdfcfa;
  --foreground: #171717;
  --color-theme-accent: #8e6c3d; /* Am mutat accentul aici ca să fie global */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a404d;
    --foreground: #e5e5e5;
    --color-theme-accent: #8e6c3d; /* Auriul se păstrează */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}